# Dependencias de Node.js
node_modules/

# Archivos de configuración y variables de entorno (¡NO SUBIR!)

# Ejecutables grandes (Herramientas de descarga)
*.exe

# Carpetas de salida y archivos generados
descargas/
descargas_completadas.txt

# Listas personales (Opcional: Si quieres que cada quien tenga su propia lista y no se suba la tuya)
dowload-movies.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist